@using GeeksForLessForum.Models

<form class="card" asp-controller="Topic"  asp-action="Add">
    <div class="card-body">
        <div>  
            <input type="text" name="Topic.Title"/>
        </div>
        <input type="submit"/>
    </div>
</form>