
@model Topic

<h3>@Model.Title</h3>
@foreach(var post in ViewBag.Posts)
{
    <div class="card flex-container">
        <div class="card-header div-header ">
            <div class="header">
                <p >@post.UserName</p>
            </div>
            <div class="header">
                <a class="">Відповісти</a>
            </div>
        </div>
        <div class="card-body">
            <p>@post.Content</p>
        </div>
        <div class="card-footer">
            <p>@post.CreatedDate</p>
        </div>
    </div>
    <br />
}


<form class="card" action="/Topic/AddPost/@Model.Id"> 
    <div class="card-body">
        <div>
            <input type="text" name="Post.Content" class="form-control"/>
        </div>
        <input type="submit"/>
    </div>
</form>