@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using GeeksForLessForum.Areas.Identity.Data
@inject SignInManager<ForumUser> SignInManager
@inject UserManager<ForumUser> UserManager

@model List<Topic>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<div class="body-container">

    @foreach (var i in Model)
    {
        <div class=" m-2 topic-container">
            <a href="/Topic/Index/@i.Id" class=" m-1">
                <div class="card flex">
                    <h4>@i.Title</h4>
                    <div class="flex-column justify-content-between">
                        <p class="d-inline-flex p-2">@i.CreatedDate</p>
                        <a class="bnt btn-primary d-inline-flex p-2" href="/Topic/Delete/@i.Id">Delete</a>
                    </div>
                </div>

            </a>
        </div>


    }
    <div class="footer">
        <span>Didn't find a topic that interests you?</span>
        <a class="btn btn-primary" href="/Topic/CreateTopic">Add topic</a>
    </div>
</div>
